.advert__wrapper {
  max-width: 86%;
  margin: 100px auto 0px;
  background: url("../assets/images/banner.svg");
  height: 330px;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}
